button {
    cursor: pointer;
    border: none;
    font-family: inherit;
    background-color: white;
    width: 16vw;
    height: 6vh;
    margin: 2vh;
    border-radius: 2vh;
}
.InvoiceBg {
    margin-top: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    text-align: left;
    background-color: #eee;
    height: 100%;
    width: 100%;
}

#invoice-container {
    
    width: 100%;
    height: 100%;
    min-width: 0;
    padding-top: 5vh;
    background-color: #fff;
   
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .1875rem;
    padding-left: 10vh;
    font-size: x-large;
    text-align: justify;
}



.card-title {
    color: red;
}
th{
    padding-right:16vh;
    padding-top: 5vh;
}
p{
    margin-top: 2vh;
    color: green;
}


